body {
	background-image: url('images/creepy_hallway_bg.jpeg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: white;

}

/*     Header      */
h1 {
	font-family: 'Nosifer', cursive;
	color: #EB1616;
	text-align: center;
	font-size: 60px;
}

/*   Button on the index.html page to start game   */
.next {
	width: 150px;
	margin: auto;
	padding-top: 100px;
}

button {
	background-color: #37CA41;
	text-align: center;
	color: white;
	padding: 15px 15px;
	font-size: 30px;
	font-family: 'Nosifer', cursive;
	color: red;
	border-radius: 20px;
}

/*     This is the div that the questions will populate to       */
#quiz {
	background-color: black;
	opacity: 0.5;
	padding: 40px 40px;
	text-align: center;
}