
    /*      Landing page       */
.index-body {
	background-image: url('images/movie_reel_bg.jpg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
}

	/*      Game page        */
body {
	background-image: url('images/creepy_hallway_bg.jpeg');
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: white;

}

/*     Header      */
h1 {
	font-family: 'Nosifer', cursive;
	color: #EB1616;
	text-align: center;
	font-size: 60px;
}

img {
	display: inline;
	height: 350px;
	width: auto;
	margin-left: 22%;
	border-radius: 25%;
}

/* ////////  Buttons on both pages //////////  */

.play {		/*This is the play button at the start of the game */
	width: 150px;
	margin: auto;
	padding-top: 70px;
}

.play2 {	/*Player 2's start button */
	width: 150px;
	margin-left: 45%;
}

button {	/*All buttons */
	background-color: #37CA41;
	text-align: center;
	color: white;
	padding: 15px 15px;
	font-size: 30px;
	font-family: 'Nosifer', cursive;
	color: red;
	border-radius: 20px;
}
/* -----------End buttons------------*/

/*////////////     This is the div that the questions will populate to     ////////////  */
#quiz {
	background-color: black;
	opacity: 0.5;
	padding: 0 30px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 20px;
}

		/* This is how the questions themselves will appear on the page */
h3 {
	font-size: 45px;
	margin-left: 10%;
}

		/* This is how the choices will appear on the page */
.choice {
	margin-left: 35%;
}

		/* This is how the next button will appear on the page */
.next-button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 45%;
}

		/* This is for the switch players prompt and winner alert */
h2 {
	text-align: center;
	color: #37CA41;
}

/*/////////////////// END DIV //////////////////*/


/*////////	Footer with text and button  ////// */
footer {
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 20px;
}

span {   	/* Text */
	margin-left: 50px;
	color: #B54403;
	font-family: 'Caveat', cursive;
	font-size: 30px;
}

#search-button {	/* IMDB button  */
	width: 120px;
	height: 35px;
	background-color: yellow;
	font-size: 15px;
	font-weight: bold;
	border-radius: 15px 50px;
}
/*/////////// End footer //////////*/



