
    /*      Landing page       */
.index-body {
	background-image: url('images/movie_reel_bg.jpg');
	background-color: #030303;
	background-repeat: no-repeat;
	background-size: 100%;
}
	/*      Game page        */
body {
	background-image: url('images/creepy_hallway_bg.jpeg');
	background-color: #030303;
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Caveat', cursive;
	font-size: 35px;
	color: #FFFFFF;

}

	/*    Rules- toggle div    */
#rules {
	font-family: courier, cursive;
	font-size: 25px;
	color: #030303;
	display: none;
	background-color: #FFFFFF;
	opacity: 0.8;
	border-radius: 20px;
}

	/*     Header      */
.gameName {
	font-family: 'Nosifer', cursive;
	color: #EB1616;
	text-align: center;
	font-size: 60px;
	animation-name: swing;
	animation-duration: 5s;
}

img {
	display: inline;
	height: 350px;
	width: auto;
	margin-left: 22%;
	border-radius: 25%;
}

/* ////////  Buttons on both pages //////////  */

button {	/*All buttons */
	background-color: #37CA41;
	text-align: center;
	color: #FFFFFF;
	padding: 15px 15px;
	font-size: 30px;
	font-family: 'Nosifer', cursive;
	color: #FF0000;
	border-radius: 20px;
}

button:hover {	/*Buttons enlarge slightly when hovered */
	-webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#rulesBtn {		/* Rules button on index page */
	background-color: #37CA41;
	text-align: center;
	font-family: 'courier', cursive;
	font-size: 15px;
	padding: 5px;
	color: #FFFFFF;
	height: 30px;
	width: 120px;
}

.play {		/*This is the play button at the start of the game */
	width: 150px;
	margin: auto;
	padding-top: 70px;
}

.play2 {	/*Player 2's start button */
	width: 150px;
	margin-left: 45%;
}

/* -----------End buttons------------*/

/*////////////     This is the div that the questions will populate to     ////////////  */
#quiz {
	background-color: #030303;
	opacity: 0.5;
	padding: 0 30px;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 20px;
}

		/* This is how the questions themselves will appear on the page */
h3 {
	font-size: 45px;
	margin-left: 10%;
}

		/* This is how the choices will appear on the page */
.choice {
	margin-left: 35%;
}

p {
	text-align: center;
	color: #FFFFFF;
}

		/* This is how the next button will appear on the page */
.next-button {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 45%;
}

		/* This is for the switch players prompt and winner alert */
h2 {
	text-align: center;
	color: #37CA41;
	animation-name: bounceIn;
	animation-duration: 4s;
}

	/* Button that appears to restart the game */
.play-again {
	margin-left: 40%;
	animation: nudge 5s linear infinite alternate;
}

/*/////////////////// END DIV //////////////////*/

/* ///////// Score div ///////// */
#results {
	font-family: "Courier New", Courier, monospace;
	font-size: 25px;
}


/*////////	Footer with text and button  ////// */
footer {
	display: inline-block;
	margin-top: 100px;
	margin-bottom: 20px;
}

span {   	/* Text */
	margin-left: 50px;
	color: #B54403;
	font-family: 'Caveat', cursive;
	font-size: 30px;
}

#search-button {	/* IMDB button  */
	width: 120px;
	height: 35px;
	background-color: #FFFF40;
	font-size: 15px;
	font-weight: bold;
	border-radius: 15px 50px;
}
/*/////////// End footer //////////*/

@keyframes swing {
	20% { transform: rotate(15deg); } 
   	40% { transform: rotate(-10deg); } 
   	60% { transform: rotate(5deg); } 
   	80% { transform: rotate(-5deg); } 
   	100% { transform: rotate(0deg); } 
}


@keyframes bounceIn {
   0% { 
      opacity: 0; 
      transform: scale(.3);
   }
   50% { 
      opacity: 1;
      transform: scale(1.05);
   }
   70% {
      transform: scale(.9);
   }
   100% {
      transform: scale(1);
   }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}

